
		.contenido-modal-producto {
			background-color: rgba(182, 191, 198, 0.75);
			border-radius: 0px;
		}

		.headline-modal-producto {
			color: #FFF;
			background-color: #007AC3;
			border: none;
			font-size: 2rem;
			letter-spacing: 2px;
		}

		.headline-modal-producto button {
			position: absolute;
			right: 6px;
			top: 5px;
		}

		.headline-modal-producto span {
			text-align: center;
			color: #FFF;
			font-size: 20px;
		}

		.headline-modal-producto h2 {
			font-size: 2.5rem;
			text-align: center;
			border: none;
			margin-top: 9px;
		}
		
		.modal-body
		.imagen-llanta {
			background-color: #FFF;
		}

		.modal-body
		.imagen-llanta img {
			padding: 5px;
		}

		.contenido-modal-prodcuto2 {
			padding-top: 0px;
		}

		.contenido-modal-producto3 {
			background-color: #FFF;
		}

		.contenido-modal-producto3
		.logo-recamic {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.contenido-modal-producto3
		.img-aplicacion {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.contenido-modal-producto3
		.img-aplicacion p {
			position: absolute;
			z-index: 1;
			text-transform: uppercase;
			font-weight: bold;
			color: #FFF;
			font-size: 1.5rem;
			margin-bottom: 25px;
			left: 30%;
		}

		.texto-modal-producto {
			margin-top: 25px;
		}

		.contenido-modal-producto3
		.texto-modal-producto h3 {
			color: #007AC3;
			font-size: 1.8rem;
			text-transform: uppercase;
		}

		.contenido-modal-producto3
		.texto-modal-producto hr {
			border-top: 0.5px solid #007AC3;
			margin-bottom: 15px;
			margin-top: 0px;
		}

		.contenido-modal-producto3
		.texto-modal-producto p {
			text-align: justify;
			font-size: 1.4rem;
			margin-bottom: 20px;
		}	

		.table-responsive {
			border: none;
			margin-bottom: 0px;
		}

		.tabla-modal-producto {
			padding-top: 15px;
			padding-bottom: 20px;
			border-color: #007AC3;
		}

		.tabla-modal-producto
		.table thead {
			background-color: #007AC3;
			color: #FFF;
		}

		.tabla-modal-producto
		.table thead > tr > th {
			border-bottom: none;
		}

		.table,
		.table tr > td {
			border: 2px solid #007AC3;
			color: #007AC3;
		}

		.table th, td {
			text-align: center;
		}

		.texto-modal-producto2 {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.texto-modal-producto2
		.texto-convenciones i {
			font-size: 1.6rem;
			margin-top: 10px;
			text-align: center;
		}

		.texto-modal-producto2
		.texto-convenciones
		.icono-documento {
			font-size: 1.4rem;
		}

		.texto-modal-producto2
		.texto-convenciones p {
			font-size: 13px;
			font-weight: bold;
		}

		.btn-modal-producto-comprar {
			background-color: #007AC3;
			margin-bottom: 20px;
		}

		.btn-modal-producto-comprar a,
		.btn-modal-producto-comprar a:hover,
		.btn-modal-producto-comprar a:active,
		.btn-modal-producto-comprar a:focus {
			color: #FFF;
			font-size: 1.6rem
			font-weight: bold;
		}

		.btn-modal-producto-comprar img {
			margin-right: 10px;
		}

		.btn-modal-producto-comprar p {
			font-size: 1.6rem;
		}